{% extends 'blank.html' %}
    {% load tags %}
    {% block style %}
        <style>
            .extra-horizontal-select{
                height: 200px!important;
                width: 100%;
            }
        </style>
    {% endblock  %}


{% block row-menus %}
    <ol class="breadcrumb">
    <li><i class="fa fa-home"></i><a href="/myadmin/crm/customer/">首页</a></li>
    <li><i class="fa fa-plus-circle"></i><a href="javascript:void(0)">添加</a></li>
    </ol>
{% endblock  %}
{% block page-content %}
       <!-- start-error 提示 -->
    {% if  obj.errors  %}
        <div class="alert alert-block alert-danger fade in">
            <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="icon-remove"></i>
            </button>
            <strong>错误了!</strong> {{ obj.errors }}
         </div>
    {% endif %}
    <!-- End-error 提示 -->
    <!--S-表单展示-->
    <section class="panel">
        <header class="panel-heading">
              <h3>添加</h3>
        </header>
        <div class="panel-body">
            <form class='form-validate form-horizontal' action="" method="POST">
            {% for field in obj %}
                <div class="form-group" id="filed-list{{ field.name }}">

                        <label  class="col-sm-2 control-label" style="font-weight: normal">
                            {% if field.field.required %}
                                {{ field.label }}<span class="required">*</span>
                            {% else %}
                                {{ field.label }}
                            {% endif %}
                        </label>




                    <div class="col-sm-5" id="{{ field.name }}">
                        {% if field.name in filter_horizontal %}
                            <div class="col-md-5 m2m-all" >
                                <select class="extra-horizontal-select" name={{ field.name  }} id="" multiple>
                                    {% get_horizontal_option field.name models_obj as all_optiopn %}


                                    {% for i in all_optiopn %}

                                            <option value={{ i.id }} >{{ i }}</option>


                                    {% endfor %}
                                </select>
                                <button id='add-all' type="button" class="btn btn-default btn-xs">添加所有</button>
                            </div>

                            <div class="col-md-1 left_to_right">
                            <span id="add_selected"class="arrow_right"></span>
                            <span id="remove_selected"class="arrow_left"></span>
                            </div>

                             <div class="col-md-5 m2m-selected ">
                                <select class="extra-horizontal-select" name={{ field.name }} id="" multiple>

                                </select>
                                 <button id='remove_all' type="button" class="btn btn-default btn-xs">移除所有</button>
                             </div>

                        {% else %}
                            {{ field }}
                        {% endif %}

        {#            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">#}
                    </div>
                </div>

            {% endfor %}
            <button type="submit" class="btn btn-default">save</button>






            {% csrf_token %}
        </form>
        </div>

    </section>
    <!--E-表单展示-->




{% endblock %}
{% block script %}
    <script>
     $("input[date='datetimePicker']").datetimepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: true,
            todayHighlight: true,
            showMeridian: true,
            minView: "month",
            pickerPosition: "bottom-left",
            language: 'zh-CN',//中文，需要引用zh-CN.js包
    });

    $(function () {
       add_selected_name()
        click2_add()
        click2_remove()
        add_all()
        remove_all()
        add_selected()
        rmove_selected()

    })



        add_selected_name=function () {
        var old=$("#filed-list .m2m-all select").attr("name")
        $("#filed-list .m2m-all select").attr("name","all"+old)
    }
        click2_add = function () {

            $(".m2m-all select ").on("dblclick", "option", function () {


                $(this).appendTo($(this).parent().parent().siblings('.m2m-selected').find('select'))


            })


        }

        click2_remove = function () {

            $(".m2m-selected select").on("dblclick", "option", function () {


                $(this).appendTo($(this).parent().parent().siblings('.m2m-all').find('select'))

            })


        }

        add_all = function () {
            $(".m2m-all button").click(
                function () {


                    $(this).siblings('.extra-horizontal-select').find('option').appendTo($(this).parent().siblings('.m2m-selected').find('select'))
                }
            )
        }

        remove_all = function () {
            $(" .m2m-selected button").click(
                function () {
                    $(this).siblings('.extra-horizontal-select').find('option').appendTo($(this).parent().siblings('.m2m-all').find('select'))

                }
            )
        }

        add_selected = function () {
            $(".left_to_right ").on("click", "#add_selected", function () {

                $(this).parent().siblings(".m2m-all").children('select').find("option:selected").appendTo($(this).parent().siblings('.m2m-selected').find('select'))
            })
        }

        rmove_selected = function () {
            $(".left_to_right ").on('click', '#remove_selected', function () {
                $(this).parent().siblings(".m2m-selected").children('select').find("option:selected").appendTo($(this).parent().siblings('.m2m-all').find('select'))
            })

        }







    </script>


{% endblock  %}